.ieee{
/* made changes here */
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    /* margin-left: 39%;
    margin-right: 50%; */
    margin-top: 10px;
    margin-bottom: 70px;

}
#paper {
    background: radial-gradient(
      circle at 100%,
      #b2a8fd,
      #8678f9 50%,
      #c7d2fe 75%,
      #9a8dfd 75%
    );
    font-weight: 600;
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animatedTextGradient 1.5s linear infinite;
    margin-top: -60px;
  }
  
  @keyframes animatedTextGradient {
    to {
      background-position: 200% center;
    }
  }

  /* div{
    display: block;
    padding: 20px;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    background: #FFF;
    border-radius: 80px;
    border-bottom: 5px solid #CCD1D9;
  } */
  
  @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

body {
  background-color:  #151719;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}
#waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: black;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
a:is(:link, :active, :visited).active{
  color:yellow;
  
}
nav a:hover{
  color:yellow;
  
}
.CurrentActive{
  color:yellow;
  

}
/* @media (min-width:665px) {

  .home_headder, .ece{
    font-size: 1rem;
    line-height: 1.5rem;
  }
  #waviy{
    font-size: 2.5rem;
  }
  .datee{
    font-size: 18px;
  }
  .ieee{

    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -33px;
    margin-left: 33%;

}
.glowingFont{
  font-size: 1rem;
  line-height: 1rem;
}
  
} */

/* made changes here */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
/* Base */

.typing {
  position: relative;
  color: hsl(0, 0%, 68%);
  font-weight: bold;
  font-family: "Anonymous Pro", monospace;
  /* letter-spacing: 1px; */
  overflow: hidden;
  /* border-right: 2px solid hsl(0, 0%, 80%); */
  white-space: nowrap;
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 1500px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(139, 197, 255);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(71, 189, 236);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(93, 123, 255);  /* creates padding around scroll thumb */
}
